.mix_card.ext-coverless_card .mix_element {
  padding-left: 5px;
}

.sidebar_mix.ext-coverless_card {
  padding-left: 10px !important;
  height: 90%;
}

.mix_card.half_card.ext-coverless_card {
  height: 250px;
  min-height: 250px;
  padding-bottom: 10px;
}

.suggested_collections .suggested_collection.ext-coverless_card {
  padding-top: 10px;
}
